<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renhuas.school.mapper.SchClassMapper">
    
    <resultMap type="SchClass" id="SchClassResult">
        <result property="classId"    column="class_id"    />
        <result property="className"    column="class_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSchClassVo">
        select class_id, class_name, remark from sch_class
    </sql>

    <select id="selectSchClassList" parameterType="SchClass" resultMap="SchClassResult">
        <include refid="selectSchClassVo"/>
        <where>  
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
        </where>
    </select>
    
    <select id="selectSchClassByClassId" parameterType="Long" resultMap="SchClassResult">
        <include refid="selectSchClassVo"/>
        where class_id = #{classId}
    </select>
        
    <insert id="insertSchClass" parameterType="SchClass" useGeneratedKeys="true" keyProperty="classId">
        insert into sch_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="className != null and className != ''">class_name,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="className != null and className != ''">#{className},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSchClass" parameterType="SchClass">
        update sch_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteSchClassByClassId" parameterType="Long">
        delete from sch_class where class_id = #{classId}
    </delete>

    <delete id="deleteSchClassByClassIds" parameterType="String">
        delete from sch_class where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>