<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renhuas.evalanalyze.mapper.AnalyzeSchEvalMapper">
    
    <resultMap type="AnalyzeSchEval" id="AnalyzeSchEvalResult">
        <result property="analyzeId"    column="analyze_id"    />
        <result property="schName"    column="sch_name"    />
        <result property="schId"    column="sch_id"    />
        <result property="schYear"    column="sch_year"    />
        <result property="semester"    column="semester"    />
        <result property="createTime"    column="create_time"    />
        <result property="evalScore"    column="eval_score"    />
        <result property="ranking"    column="ranking"    />
    </resultMap>

    <sql id="selectAnalyzeSchEvalVo">
        select analyze_id, sch_name, sch_id, sch_year, semester, create_time, eval_score, ranking from analyze_sch_eval
    </sql>

    <select id="selectAnalyzeSchEvalList" parameterType="AnalyzeSchEval" resultMap="AnalyzeSchEvalResult">
        <include refid="selectAnalyzeSchEvalVo"/>
        <where>  
            <if test="schName != null  and schName != ''"> and sch_name like concat('%', #{schName}, '%')</if>
            <if test="schYear != null  and schYear != ''"> and sch_year = #{schYear}</if>
            <if test="semester != null  and semester != ''"> and semester = #{semester}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="evalScore != null "> and eval_score = #{evalScore}</if>
            <if test="ranking != null  and ranking != ''"> and ranking = #{ranking}</if>
        </where>
    </select>
    
    <select id="selectAnalyzeSchEvalByAnalyzeId" parameterType="Long" resultMap="AnalyzeSchEvalResult">
        <include refid="selectAnalyzeSchEvalVo"/>
        where analyze_id = #{analyzeId}
    </select>
        
    <insert id="insertAnalyzeSchEval" parameterType="AnalyzeSchEval" useGeneratedKeys="true" keyProperty="analyzeId">
        insert into analyze_sch_eval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schName != null and schName != ''">sch_name,</if>
            <if test="schId != null">sch_id,</if>
            <if test="schYear != null and schYear != ''">sch_year,</if>
            <if test="semester != null and semester != ''">semester,</if>
            <if test="createTime != null">create_time,</if>
            <if test="evalScore != null">eval_score,</if>
            <if test="ranking != null and ranking != ''">ranking,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schName != null and schName != ''">#{schName},</if>
            <if test="schId != null">#{schId},</if>
            <if test="schYear != null and schYear != ''">#{schYear},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="evalScore != null">#{evalScore},</if>
            <if test="ranking != null and ranking != ''">#{ranking},</if>
         </trim>
    </insert>

    <update id="updateAnalyzeSchEval" parameterType="AnalyzeSchEval">
        update analyze_sch_eval
        <trim prefix="SET" suffixOverrides=",">
            <if test="schName != null and schName != ''">sch_name = #{schName},</if>
            <if test="schId != null">sch_id = #{schId},</if>
            <if test="schYear != null and schYear != ''">sch_year = #{schYear},</if>
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="evalScore != null">eval_score = #{evalScore},</if>
            <if test="ranking != null and ranking != ''">ranking = #{ranking},</if>
        </trim>
        where analyze_id = #{analyzeId}
    </update>

    <delete id="deleteAnalyzeSchEvalByAnalyzeId" parameterType="Long">
        delete from analyze_sch_eval where analyze_id = #{analyzeId}
    </delete>

    <delete id="deleteAnalyzeSchEvalByAnalyzeIds" parameterType="String">
        delete from analyze_sch_eval where analyze_id in 
        <foreach item="analyzeId" collection="array" open="(" separator="," close=")">
            #{analyzeId}
        </foreach>
    </delete>
</mapper>